@viewport {
  width: device-width;
  zoom: 1;
}

@font-face{
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: lato; 
}

#app{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 400px;
    text-align: center;
    font-weight: bold;
    size: 20;
}

#game{
    height: 250px;
    width: 1500px;
    background-color: aqua;
    border: solid 2px black;
}

#pokemon{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-image: linear-gradient(#68A090, #68A090);
}

.pokemon{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-image: linear-gradient(#68A090, #68A090);
    float: left;
}

#pokemon img{
    height: 250px;
    width: 250px;
}

.pokemon img{
    height: 250px;
    width: 250px;
}

#pokemonId{
    border: solid 2px black;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

#pokemonNome{
    border: solid 2px black;
    border-radius: 5px;
    height: 35px;
    width: 100%;
}