@font-face{
    font-family: lato;
    src: url('../fonts/Lato-Regular.ttf');
}

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: lato; 
}

#app{
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    min-height: 400px;
	height: auto;
    text-align: center;
    font-weight: bold;
    size: 20;
}

#pokemon{
    max-height: auto;
    width: 100%;
    border-radius: 10px;
}

#pokemon img{
    height: inherit;
    width: inherit;
}

#pokemonId, #pokemonIdNome{
    border: solid 2px black;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    text-align: center;
	font-size: 20px;
}